//HIDES RADIO BUTTONS
	input {
	display:none !important;
	}


.btn-primary:focus, .btn-primary.focus,
.btn-primary:active:not([disabled]):not(.disabled),
.btn-primary.active:not([disabled]):not(.disabled),
.show > .btn-primary.dropdown-toggle {
	box-shadow:none !important;
}


	

	
	
.btn {
	cursor: pointer;
	&:active, &:focus {box-shadow: 0 !important;}
}


.btn-group {
	
}



.showTags {
	//margin-bottom: 0;
}
 

 .tagsBtn {
	//display:inline-block;
	//width: 21.891px;
	//height: 24px;
}

.active {
	background-color: $red;
}

.loremBody .btn-lorem,
.phishBody .btn-phish,
.trekBody .btn-trek,
.liesBody .btn-lies {
	@include activeRadio;
}
	 

