@import "../util/util.scss";
@import "../variables.scss";

//TYPOGRAPHY
@include gwf($headingFont, $bodyFont, $displayFont, $codeFont);

body {
	font-family: $bodyFont; 
	color: $bodyColor; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont; 
	color: $headingColor; 
}


//HEADING FONT SIZE BY MEDIA QUERY


//TITLES	
	
	
	.titles {
		text-shadow: 0.5px 0.5px 0.5px #000000;
		padding: 20px;		
	}

	@media(max-width:768px) {
		.trek-title {font-size:5em;}

	}

	@media(min-width:768px) {
		.phish-title {font-size: 8em;}
		.trek-title {font-size:10em;}
		.lies-title {font-size: 8em;}
		.lorem-title {font-size: 8em;}
	}


//HIDE BY DEFAULT

	.lorem-title, .phish-title, .trek-title, .lies-title, .lies-link {display:none;}

//ADD TITLE FOR EACH THEME

	.liesBody .lies-link,
	.liesBody .lies-title ,
	.phishBody .phish-title,
	.trekBody .trek-title,
	.loremBody .lorem-title {display:block;}

