@import "../util/util.scss";
@import "../variables.scss";

//TYPOGRAPHY
@include gwf($headingFont, $bodyFont, $displayFont, $codeFont);

body {
	font-family: $bodyFont; 
	color: $bodyColor; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont; 
	color: $headingColor; 
}


//HEADING FONT SIZE BY MEDIA QUERY


//TITLES	
	
	
	.titles {
		text-shadow: 0.5px 0.5px 0.5px #000000;
		padding: 20px;
	}

	@media(min-width:960px) {
		.phish-title {
			font-size: 8em;
		}

		.trek-title {
			font-size:8em;
		}

		.lies-title {
			font-size: 5em;
		}
	}

//HIDE BY DEFAULT

	.phish-title, .trek-title, .lies-title, .lies-link {display:none;}

//ADD TITLE FOR EACH THEME

	.trekBody .trek-title {display:block;}
	.phishBody .phish-title {display:block;}
	.liesBody .lies-title {display:block; }
	.liesBody .lies-link {display:block; }

