@import "../util/util.scss";
@import "../variables.scss";

//TYPOGRAPHY
@include gwf($headingFont, $bodyFont, $displayFont, $codeFont);
body {
	font-family: $bodyFont !important;
	color: $bodyColor !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont !important;
	color: $headingColor !important;
}

.titles {
	font-size: 5vh !important;
}

.display-1, .display-2, .display-3, .display-4 {
	font-family: $displayFont !important;
	color:$displayColor !important;
}

.txt-code {
	font-family: $codeFont;
	font-color: theme-color('danger');
}