//GOOGLE FONTS

  @mixin gwf($fonts...) {
    $url: "https://fonts.googleapis.com/css?family=";
    $nb: 0;
    
    @each $font-name in $fonts {
      $nb: $nb + 1;
      $nb-word: 0;
      
      @each $word in $font-name {
        $nb-word: $nb-word + 1;
        $url: $url + $word;
        
        @if $nb-word < length($font-name) {
          $url: $url + "+"; 
        } 
      }
      
      @if $nb < length($fonts) {
         $url: $url + "|"; 
      }
    }
    
    @import url(#{$url});



  }


//FLEXBOX  

  @mixin flexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

// THEME MIXIN

    @mixin theme($Color, $Heading, $Body, $background) {

      @include gwf($Heading, $Body, $displayFont, $codeFont);  
      background: $background;  
      
      h1, h2, h3, h4, h5, h6 {
        font-family: $Heading !important;
        color: $Color !important;
      }

      #ipsum-output, label, .btn  {
        font-family: $Body !important;
      }

      .btn-primary {
        background-color:$Color !important;
        border-style:none;
        font-family: $Body !important;    
      }

      label:active, label:focus {border-style:none;}

      a {
        color: $Color !important;
          &:hover {
            color: darken($Color, 5%) !important;
            text-decoration: none !important;
            }
          }
      }

//ACTIVE RADIO BUTTON

  @mixin activeRadio {        
          font-size:18px;        
          font-weight: bold;
          background-color: $activeButton !important;
          color:white !important;        
          border-style:none;
          cursor: default;
    }

        

//TREK BUTTONS


  @mixin trekBtn($color) {
    color:black;  
    height:75px;
    padding-top: 40px;    
    border-radius: 4px !important;
    background-color: $color !important;
    &:hover {background-color: lighten($color, 5%) !important;}   
   
    }

//BORDERS 

  @mixin border($radius, $style, $color, $width) {
    border-radius: $radius;
    border-style: $style;
    border-color: $color;
    border-width: $width;
  }

  @mixin borderTop($width, $style, $color) {border-top:$width $style $color;}
  @mixin borderRight($width, $style, $color) {border-right:$width $style $color;}
  @mixin borderBottom($width, $style, $color) {border-bottom:$width $style $color;}
  @mixin borderLeft($width, $style, $color) {border-left:$width $style $color;}

//TRANSITIONS




