@import "mixins.scss";
@import "colors.scss";
@import "crayola.scss";

.hide, .hidden {
	display:none;
}


@mixin block {
	display: block;
}

.show {

	.hide {
		display:inline;
	}

	label #toggleHTML {
		color:red;
	}


}
