// USE BORDER BOX FOR EVERYTHING

html {
	box-sizing: border-box;

}

* {
	&:before, &:after {
		box-sizing: inherit;
	}
}

// SET IMAGE AND OBJECTS TO MAX-WIDTH !00%

embed, iframe, img, object, video {
	max-width: 100%;
}

//RESETS MARGINS AND PADDINGS FOR HEADERS, UL, OL, P

h1, h2, h3, h4, h5, h6, ul, li, p, plockquote {
	margin: 0;
	padding: 0;	
}

// COMPLETELY RESETS FORM ITEMS
//-----------------------------
// SUPER HARD RESET TO REMOVE ALL BORDERS AND 
// RADIUS OF ALL FORM ITEMS

input, textarea, button {
	border: 0;
	border-radius: 0;
	outline: none;
	appearance: none;

	&:hover, &:active, &:focus {
		outline: none;
	}
}

.footer {
	bottom: 0;
	position: absolute;
	
}