<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--[htmlclean-protect]-->
    <!-- inject:css -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
  </head>
  <body>
    
    

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="../index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="../components.html">Bootstrap Components</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bootstrap Page Templates
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
              <a class="dropdown-item" href="404.html" target="blank">404</a>
              <a class="dropdown-item" href="about.html" target="blank">about</a>
              <a class="dropdown-item" href="album.html" target="blank">album</a>
              <a class="dropdown-item" href="blog-home-1.html" target="blank">blog-home-1</a>
              <a class="dropdown-item" href="blog-home-2.html" target="blank">blog-home-2</a>
              <a class="dropdown-item" href="blog-post.html" target="blank">blog-post</a>
              <a class="dropdown-item" href="contact.html" target="blank">contact</a>
              <a class="dropdown-item" href="faq.html" target="blank">faq</a>
              <a class="dropdown-item" href="full-width.html" target="blank">full-width</a>
              <a class="dropdown-item" href="portfolio-1-col.html" target="blank">portfolio-1-col</a>
              <a class="dropdown-item" href="portfolio-2-col.html" target="blank">portfolio-2-col</a>
              <a class="dropdown-item" href="portfolio-3-col.html" target="blank">portfolio-3-col</a>
              <a class="dropdown-item" href="portfolio-4-col.html" target="blank">portfolio-4-col</a>
              <a class="dropdown-item" href="pricing.html" target="blank">pricing</a>
              <a class="dropdown-item" href="services.html" target="blank">services</a>
              <a class="dropdown-item" href="sidebar.html" target="blank">sidebar</a>
              <a class="dropdown-item" href="starter.html" target="blank">starter</a>
              <a class="dropdown-item" href="sticky-footer.html" target="blank">sticky-footer</a>
            </div>
          </li> 
         </ul>                    
      </div>
    </nav>
  </header>

    <main class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">404
        <small>Page Not Found</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">404</li>
      </ol>

      <div class="jumbotron">
        <h1 class="display-1">404</h1>
        <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="services.html">Services</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            Portfolio
            <ul>
              <li>
                <a href="portfolio-1-col.html">1 Column Portfolio</a>
              </li>
              <li>
                <a href="portfolio-2-col.html">2 Column Portfolio</a>
              </li>
              <li>
                <a href="portfolio-3-col.html">3 Column Portfolio</a>
              </li>
              <li>
                <a href="portfolio-4-col.html">4 Column Portfolio</a>
              </li>
            </ul>
          </li>
          <li>
            Blog
            <ul>
              <li>
                <a href="blog-home-1.html">Blog Home 1</a>
              </li>
              <li>
                <a href="blog-home-2.html">Blog Home 2</a>
              </li>
              <li>
                <a href="blog-post.html">Blog Post</a>
              </li>
            </ul>
          </li>
          <li>
            Other Pages
            <ul>
              <li>
                <a href="full-width-page.html">Full Width Page</a>
              </li>
              <li>
                <a href="sidebar.html">Sidebar Page</a>
              </li>
              <li>
                <a href="faq.html">FAQ</a>
              </li>
              <li>
                <a href="404.html">404 Page</a>
              </li>
              <li>
                <a href="pricing-table.html">Pricing Table</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.jumbotron -->

    </main>
    
    
	<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
    </footer>
<!--[htmlclean-protect]-->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
  </body>
</html>    