<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--[htmlclean-protect]-->
    <!-- inject:css -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
  </head>
  <body>
    
    

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="../index.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="../components.html">Bootstrap Components</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bootstrap Page Templates
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
              <a class="dropdown-item" href="404.html" target="blank">404</a>
              <a class="dropdown-item" href="about.html" target="blank">about</a>
              <a class="dropdown-item" href="album.html" target="blank">album</a>
              <a class="dropdown-item" href="blog-home-1.html" target="blank">blog-home-1</a>
              <a class="dropdown-item" href="blog-home-2.html" target="blank">blog-home-2</a>
              <a class="dropdown-item" href="blog-post.html" target="blank">blog-post</a>
              <a class="dropdown-item" href="contact.html" target="blank">contact</a>
              <a class="dropdown-item" href="faq.html" target="blank">faq</a>
              <a class="dropdown-item" href="full-width.html" target="blank">full-width</a>
              <a class="dropdown-item" href="portfolio-1-col.html" target="blank">portfolio-1-col</a>
              <a class="dropdown-item" href="portfolio-2-col.html" target="blank">portfolio-2-col</a>
              <a class="dropdown-item" href="portfolio-3-col.html" target="blank">portfolio-3-col</a>
              <a class="dropdown-item" href="portfolio-4-col.html" target="blank">portfolio-4-col</a>
              <a class="dropdown-item" href="pricing.html" target="blank">pricing</a>
              <a class="dropdown-item" href="services.html" target="blank">services</a>
              <a class="dropdown-item" href="sidebar.html" target="blank">sidebar</a>
              <a class="dropdown-item" href="starter.html" target="blank">starter</a>
              <a class="dropdown-item" href="sticky-footer.html" target="blank">sticky-footer</a>
            </div>
          </li> 
         </ul>                    
      </div>
    </nav>
  </header>


<main class="container">
    <h1>Page Title</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consequuntur nostrum consectetur, ea voluptate error cupiditate vel quasi suscipit repudiandae sed aperiam mollitia tempore ullam quis molestiae dolorum cumque. Illo.</p>  

  </main>

    
	<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
    </footer>
<!--[htmlclean-protect]-->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
  </body>
</html>    