@import "../variables";
@import "../util/util";


#body.liesBody {

	//INCLUDE LIES THEME

		@include theme($liesThemeColor, $liesHeading, $liesBody, $liesBackground);
		background-size: cover;

	//MAIN CONTAINER		

		main.container {						
				
			background-color: white;
			@media (min-width:500px) {.btn {padding: 12px 25px !important;}}
			@media (min-width:1199px) {.btn {padding: 12px 38px !important;}}

			.btn {

				background-color: white !important;
				color: $liesThemeColor;			
			}		

			.choose-ipsum label:nth-child(3) {
				color: $activeButton !important;
			}

			.btn-group {

				@include borderTop(4px, solid,  $liesThemeColor);				
				@include borderBottom(4px, solid,  $liesThemeColor);				

			}

			#ipsum-output {
				text-align: justify;
				font-size: 16px;				
			}


				.truth {
				@extend .text-info;
				@extend .small;
				font-style: italic;
				}




		}
		}