@import "../variables";
@import "../util/util";


#body.liesBody {

	//INCLUDE LIES THEME

		@include theme($liesThemeColor, $liesHeading, $liesBody, $liesBackground);		
//
	//MAIN CONTAINER		
//
		main.container {						
//				
			background-color: black;
			
		.btn-lies {
					@include activeRadio;
			}

			.btn {

				border-radius: 50px;//
				background-color: fuchsia !important;
				color: #fff;			
				padding: 2px 20px !important;

			}		

			@media (mzx-width:768px) {.btn {padding: 0 10px !important;}}
			.btn-group {
				@include flexBox;
			}//

//
			.row {

				padding: 10px 0;
				@include borderBottom(4px, solid,  $liesThemeColor);				

			}
//
			#ipsum-output {
				text-align: justify;
				font-size: 16px;				
				color: white;
			}
//
//
				.truth {
				@extend .text-info;
				@extend .small;
				font-style: italic;
				}
//



		}
	}
	