@import "../variables";
@import "../util/util";


#body.phishBody {


	//INCLUDE PHISH THEME

		@include theme($phishThemeColor, $phishHeading, $phishBody, $phishBackground);	

	//PHISH STYLE BORDER

		@media (min-width:960px) {main {@include border(150px, solid, $phishThemeColor,  30px);}}

	//MAIN CONTAINER

		main.container {

		//CONTAINER BACKGROUND

			background: white;
			opacity: 0.9;	


		//BUTTONS

			@media (min-width:1199px) {.btn {padding: 12px 30px !important;}}

			.btn-phish {
				@include activeRadio;
			}
		
			.choose-ipsum label {			
				//padding: 40px;			

				&:hover {
					background: darken($phishThemeColor, 10%);
				}	
			}
			

			label {
				margin-bottom: 0;
			}
		}

}