@import "../variables";
@import "../util/util";


#body.trekBody {

	//INCLUDE TREK THEME

		@include theme($trekThemeColor, $trekHeading, $trekBody, $trekBackground);	

	//TREK CONSOLE STYLE BORDER

		@media (min-width:768px) {
			    main {@include border(150px, solid, $trekBeige, 12px 90px);}
			    main .container {border-radius: 50px}

		}

	//MAIN CONTAINER	

		main.container {

			//CONTAINER BACKGROUND

				background:black;

			//PADDING FOR IPSUM BUTTONS 

					@media (min-width:600px) {
						.btn {padding-left: 40px !important;}
					}


			//TREK BUTTON COLORS
			
				.choose-ipsum {
					label:nth-child(1) {@include trekBtn($trekOrange);}
					label:nth-child(2) {@include trekBtn($activeButton); @include activeRadio;}
					label:nth-child(3) {@include trekBtn($trekPurple);} 
					}
				

				.make-ipsums {
					label:nth-child(1) {@include trekBtn($trekOrange);}
					label:nth-child(2) {@include trekBtn($trekSalmon);}
					label:nth-child(3) {@include trekBtn($trekPurple);}
					label:nth-child(4) {@include trekBtn($trekBeige);}
					.showTags {@include trekBtn($trekBlue);}
					}
				}

				#ipsum-output {color: $trekOrange !important;}

		}
	



