@import "../variables";
@import "../util/util";


#body.loremBody {

	//INCLUDE LIES THEME

		
//
	//MAIN CONTAINER		
//
		main.container {						//							
			
//


			.choose-ipsum label:nth-child(1) {
				background-color: $red !important;
				border-style:none;
				cursor: default;
			}
//




		}
	}
	