@import "scss/custom";
@import "../assets/bootstrap/scss/bootstrap.scss";




.container {
	//padding: 20px;
}

header.container {
	background-color: transparent;
			//background: white;
			//margin-top: 50px;

	//HIDE RADIO AND CHECKBOX
	nav input, #showTags {
		@extend .hide;
	}

}


 main.container {

 	padding: 80px;
	margin-bottom: 50px;

	#ipsum-output {
		padding: 40px 40px;
		height: 500px;
		overflow:auto;
		margin-bottom: 30px;	
	}


	}


label {
	margin-bottom: 0;
}

.btn {
	padding: 20px;
	margin-right: 5px;
}

@media (min-width:960px) {
 h1 {font-size: 15vh}




}


div.choose-ipsum {	
	//@include flexbox;
	
	//float:left;
	button {
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {
			//flex: 1 1 30%;			
		}
	}	
}



//
#body, main, .btn, span, h1, h2, h3, h4, h5, h6, p li {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
};


#ipsum-output {	
	font-size: 20px;	
}

.phish-title, .trek-title, .lies-title {
	display:none;
	font-size: 2em;
}


footer {
	padding: 0;
	margin-bottom: 0;
}
//

	@media (min-width:960px) {
.title {
	font-size: 3em;
}
}
//.make-ipsums {	
	//.btn-primary {
		//&:nth-child(1) {
			//flex: 0 0 20%;
			//justify: space-between;
		//}
		//&:nth-child(2) {
			//flex: 0 0 20%;
			//justify: space-between;
		//}
		//&:nth-child(3) {
			//flex: 0 0 20%;
			//justify: space-between;
		//}
		//&:nth-child(4) {
			//flex: 0 0 20%;
			//justify: space-between;
		//}
		//&:nth-child(5) {
			//flex: 0 0 20%;
			//justify: space-between;
		//}
//		
	//}
//}
//
//
//.make-ipsums {
	//.btn {
		//&:nth-child(1),
		//&:nth-child(2),
		//&:nth-child(3),
		//&:nth-child(4),
		//&:nth-child(5) {
			//flex: 0 0 18%;
	//}
//}
//}



